mat-card-header{
  text-align: center;
  display: block;
}

mat-card {
  width: 200px;
  padding: 0px;
}

mat-card-title {
  margin: 0px;
}

.mat-title {
  margin-bottom: 0px;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

.flex-item-centered {
  align-self: center;
}

.player-group {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5px;
}

.flex-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-button {
  align-self: stretch;
}

.score-button {
  height: 100%;
}

.score {
    font-size: 220px;
    font-weight: bold;
}

.swap-div {
}

.swap-button {
  padding: 0px;
  height: 60px;
  width: 60px;
}

.mat-button-wrapper {
  padding: 12px 0 !important;
}

.name {
  margin-left: 15px;
}

.material-icons.md-36 { 
  font-size: 30px;
}

.material-icons.md-48 {    
  font-size: 48px;
}