mat-card-header{
  text-align: center;
  display: block;
}

mat-card {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

button.swap-button {
  min-width: 50px;
}

.score {
    font-size: 72px;
    font-weight: bold;
}

button {
  height: 120px;
  width: 120px;
}

.team-name {
  font-size: 24px;
}

.swap-button {
  float: right;
}

.end {
  clear: both;
}