mat-card-header{
  text-align: center;
  display: block;
}

mat-card {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.score {
    font-size: 72px;
    font-weight: bold;
}

.swap-button {
  height: 60px;
  width: 60px;
}

span.mat-button-wrapper {
  padding: 12px !important;
}

.score-button {
  height: 90px;
  width: 90px;
}

.team-name {
  font-size: 24px;
}

.swap-button {
  float: right;
}

.end {
  clear: both;
}

.button-panel {
  margin-left: auto;
  padding-left: 35px;
}

.material-icons.md-36 {    
  font-size: 36px;
}