// *********************
// TOOLBAR STYLING
// *********************

.menu-section {
  flex: 1;
}

.menu-right {
  float: right;
}

i {
  margin-left: 8px;
}

.menu-button {
  height: 50px;
}

i.fa-futbol-o {
  -webkit-animation-name: rotate; 
  -webkit-animation-duration: 5s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 5s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

// ***********************
// END TOOLBAR STYLING
// ***********************

mat-grid-list {
  height: 100%;
}

.content-area {
  height: 100%;
  display: flex;
}

.content-cell {
  flex: 1;
}

.time {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.gold-panel {
  background-color: rgba(255, 255, 224, 0.801);
}

.black-panel {
  background-color: rgba(211, 211, 211, 0.808);
  border-right: 1px solid black !important;
}

.gold-label {
  color: darkgoldenrod;
}

.black-label {

}

.label {
  text-align: center;
  font-weight: 200;
  margin-top: 10px;    
  margin-bottom: 0;
}