
<!-- PAGE MENU -->
<mat-toolbar color="primary">
    <span>AutoFoos<i class="fa fa-futbol-o fa-lg"></i></span>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <span class="time mat-display-2">{{time.value}}</span>
    <span class="fill-remaining-space"></span>    
    <span>
        <!-- <button class="menu-button" mat-button (click)="editPlayer()">
            <span class="mat-h2">Pause<i class="fa fa-pause fa-lg" aria-hidden="true"></i></span>
        </button> -->
        <button class="menu-button" mat-button (click)="end()">
            <span class="mat-h2">Pause / End<i class="fa fa-share fa-lg" aria-hidden="true"></i></span>
        </button>
    </span>
</mat-toolbar>

<div class="content-area">
    <!-- <div ><p></p></div>         -->
    <mat-grid-list cols="2">
        <mat-grid-tile class="black-panel">
            <div class="column column-left">
                <!-- <div class="label black-label mat-display-3">BLACK</div> -->
                <app-scoreboard-team-ctrl [(score)]="goldScore" teamName="Gold"></app-scoreboard-team-ctrl>
            </div>
        </mat-grid-tile>

        <mat-grid-tile class="gold-panel">
            <div class="column-right">
                <!-- <div class="label gold-label mat-display-3">GOLD</div> -->
                <app-scoreboard-team-ctrl [(score)]="blackScore" teamName="Black"></app-scoreboard-team-ctrl>        
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</div>

    
    <!-- <div class="content-cell score-cell gold-cell">
        <app-scoreboard-team-ctrl [(score)]="goldScore" teamName="Gold"></app-scoreboard-team-ctrl>
    </div>
    <div class="content-cell score-cell">
        <app-scoreboard-team-ctrl [(score)]="blackScore" teamName="Black"></app-scoreboard-team-ctrl>        
    </div> -->



