<!-- Can't get the size of this right -->
<!-- <mat-toolbar color="primary">
  <span class="example-spacer"></span>    
  <span>AutoFoos</span>
</mat-toolbar> -->
<mat-grid-list cols="2" row-height="420px" >
  <mat-grid-tile>
    <app-scoreboard-team-ctrl [(score)]="goldScore" teamName="Gold"></app-scoreboard-team-ctrl>
  </mat-grid-tile>  
  <mat-grid-tile>
      <app-scoreboard-team-ctrl [(score)]="blackScore" teamName="Black"></app-scoreboard-team-ctrl>      
  </mat-grid-tile>
</mat-grid-list>
<button mat-raised-button color="primary" id="end" (click)="end()">End</button>
