.wrapper {
    display: flex;
    justify-content: center;  
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
  
.mat-table {
  overflow: auto;
}

.red {
    color: red; 
}

.green {
    color: green;
}

mat-toolbar {
  // max-height: 20px;
}
.content-area {
  height: 100%;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

i {
  margin-left: 8px;
}

.menu-button {
  height: 50px;
}

.column {
  display: block;
  width: 100%;
}

.column-left {
  padding-left: 75px;
}

.column-right {
  margin-left:auto; margin-right:0;
  padding-right: 75px;
  text-align: right;
}
  
.text-center {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;  
}

.background-image {
  background-repeat: no-repeat;
  background-size: 230px;  
  background-attachment: fixed;
  background-position: 50% 90%; 
}

.tab-group {
  height: 100%;
}

.gold-panel {
  background-color: rgba(255, 255, 224, 0.801);
}

.black-panel {
  background-color: rgba(211, 211, 211, 0.808);
  border-right: 1px solid black !important;
}

.label {
  margin-bottom: 10px;
}

.gold-label {
  color: darkgoldenrod;
  font-weight: 200;
}

.black-label {
  display: block;
  font-weight: 200;
}

i.fa-futbol-o {
  -webkit-animation-name: rotate; 
  -webkit-animation-duration: 5s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 5s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}