<!-- <div class="container">
  <h1 class="title">
    {{title}}
  </h1>

</div> -->
<mat-grid-list cols="2" row-height="420px" >
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="score">{{goldScore}}</mat-card-title>
        <mat-card-subtitle>Gold Team</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="score">{{blackScore}}</mat-card-title>
        <mat-card-subtitle>Black Team</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile><mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>
