
  .centered-column {
    margin: auto;
    width: 400px;
  }

  .top-spacer {
    min-height: 120px;
  }

  .small-buttons {
    display: inline;
  }

  .horz-spacer {
    float: right;
  }

  #submit {
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
  }
  #discard {
    width: 48%;
    height: 120px;    
  }
  #back {
    width: 48%;
    height: 120px;    
  }



